<h3>Ticket for application <%= @issue.custom_field_value(2)%> has been created!</h3>
<h4>Ticket Category: <%= @issue.subject%></h4>
<p>Ticket ID: <%= @issue.id%></p>
<p>Created on:<%= @issue.created_on%></p>
<hr/>
<p>Your Ticket has been registered and we will get back to you within the next 24 hours</p>