<h3>Ticket for application <%= @issue.custom_field_value(2)%> has been updated!</h3>
<h4>Ticket Category: <%= @issue.subject%></h4>
<p>Ticket ID: <%= @issue.id%></p>
<p>Created on: <%= @issue.created_on%></p>