<p>The following ticket needs to be manually reassigned since no matching branch/group with the given branch code field value was found.</p>
<p>Note: Kindly configure a redmine group for the given branch code.</p>
<hr />
<%= render :partial => 'issue', :formats => [:html], :locals => { :issue => @issue, :user => @user, :issue_url => @issue_url } %>
